/* font variables */
:root {
  --font-unbounded: 'unbounded', sans-serif;
  --font-space-grotesk: 'space-grotesk', sans-serif;
}

@font-face {
  font-family: 'unbounded';
  src: url('../assets/fonts/unbounded.ttf') format('truetype');
}

@font-face {
  font-family: 'space-grotesk';
  src: url('../assets/fonts/space-grotesk.ttf') format('truetype');
}

/* header block */
.header {
  font-family: var(--font-unbounded);
  font-weight: bold;
}

.header__1 {
  font-size: 64px;
}

.header__2 {
  font-size: 48px;
}

.header__3 {
  font-size: 24px;
  font-weight: medium;
}

.body {
  font-family: var(--font-space-grotesk);
  line-height: 140%;
  font-weight: regular;
}

/* body block */
.body__large {
  font-size: 20px;
}

.body__normal {
  font-size: 16px;
}

.body__small {
  font-size: 12px;
}

.body__xs {
  font-size: 8px;
}

/* button block */
.button {
  font-family: var(--font-space-grotesk);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.button__large {
  font-size: 20px;
}

.button__normal {
  font-size: 16px;
}

.button__small {
  font-size: 12px;
}
